WindowsFormsApp12/Controlador/Connected Services/EntradaWS/EntradaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listarEntradas">
        <s:complexType />
      </s:element>
      <s:element name="listarEntradasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarEntradasResult" type="tns:ArrayOfEntrada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEntrada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Entrada" nillable="true" type="tns:Entrada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Entrada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listarEntradasSoapIn">
    <wsdl:part name="parameters" element="tns:listarEntradas" />
  </wsdl:message>
  <wsdl:message name="listarEntradasSoapOut">
    <wsdl:part name="parameters" element="tns:listarEntradasResponse" />
  </wsdl:message>
  <wsdl:portType name="EntradaWSSoap">
    <wsdl:operation name="listarEntradas">
      <wsdl:input message="tns:listarEntradasSoapIn" />
      <wsdl:output message="tns:listarEntradasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EntradaWSSoap" type="tns:EntradaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarEntradas">
      <soap:operation soapAction="http://tempuri.org/listarEntradas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EntradaWSSoap12" type="tns:EntradaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarEntradas">
      <soap12:operation soapAction="http://tempuri.org/listarEntradas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntradaWS">
    <wsdl:port name="EntradaWSSoap" binding="tns:EntradaWSSoap">
      <soap:address location="http://localhost:50319/EntradaWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EntradaWSSoap12" binding="tns:EntradaWSSoap12">
      <soap12:address location="http://localhost:50319/EntradaWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>