Lab8_Cliente/WindowsFormsApp12/Controlador/Connected Services/DetalleOrdenWS/Orden_Menu_DetalleWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listarDetallePedidos">
        <s:complexType />
      </s:element>
      <s:element name="listarDetallePedidosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarDetallePedidosResult" type="tns:ArrayOfOrden_Menu_Detalle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrden_Menu_Detalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Orden_Menu_Detalle" nillable="true" type="tns:Orden_Menu_Detalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Orden_Menu_Detalle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Entrada" type="tns:Entrada" />
          <s:element minOccurs="0" maxOccurs="1" name="PlatoFondo" type="tns:PlatoFondo" />
          <s:element minOccurs="1" maxOccurs="1" name="IdOrden" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Texto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Entrada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlatoFondo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="registrarDetalleDeOrden">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:Orden_Menu_Detalle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarDetalleDeOrdenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarDetalleDeOrdenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listarDetallePedidosSoapIn">
    <wsdl:part name="parameters" element="tns:listarDetallePedidos" />
  </wsdl:message>
  <wsdl:message name="listarDetallePedidosSoapOut">
    <wsdl:part name="parameters" element="tns:listarDetallePedidosResponse" />
  </wsdl:message>
  <wsdl:message name="registrarDetalleDeOrdenSoapIn">
    <wsdl:part name="parameters" element="tns:registrarDetalleDeOrden" />
  </wsdl:message>
  <wsdl:message name="registrarDetalleDeOrdenSoapOut">
    <wsdl:part name="parameters" element="tns:registrarDetalleDeOrdenResponse" />
  </wsdl:message>
  <wsdl:portType name="Orden_Menu_DetalleWSSoap">
    <wsdl:operation name="listarDetallePedidos">
      <wsdl:input message="tns:listarDetallePedidosSoapIn" />
      <wsdl:output message="tns:listarDetallePedidosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarDetalleDeOrden">
      <wsdl:input message="tns:registrarDetalleDeOrdenSoapIn" />
      <wsdl:output message="tns:registrarDetalleDeOrdenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Orden_Menu_DetalleWSSoap" type="tns:Orden_Menu_DetalleWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarDetallePedidos">
      <soap:operation soapAction="http://tempuri.org/listarDetallePedidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarDetalleDeOrden">
      <soap:operation soapAction="http://tempuri.org/registrarDetalleDeOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Orden_Menu_DetalleWSSoap12" type="tns:Orden_Menu_DetalleWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarDetallePedidos">
      <soap12:operation soapAction="http://tempuri.org/listarDetallePedidos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarDetalleDeOrden">
      <soap12:operation soapAction="http://tempuri.org/registrarDetalleDeOrden" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Orden_Menu_DetalleWS">
    <wsdl:port name="Orden_Menu_DetalleWSSoap" binding="tns:Orden_Menu_DetalleWSSoap">
      <soap:address location="http://localhost:50319/Orden_Menu_DetalleWS.asmx" />
    </wsdl:port>
    <wsdl:port name="Orden_Menu_DetalleWSSoap12" binding="tns:Orden_Menu_DetalleWSSoap12">
      <soap12:address location="http://localhost:50319/Orden_Menu_DetalleWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>