Lab8_Cliente/WindowsFormsApp12/Controlador/Connected Services/MesaWS/MesaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listarMesas">
        <s:complexType />
      </s:element>
      <s:element name="listarMesasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarMesasResult" type="tns:ArrayOfMesa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMesa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Mesa" nillable="true" type="tns:Mesa" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mesa">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Capacidad" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listarMesasSoapIn">
    <wsdl:part name="parameters" element="tns:listarMesas" />
  </wsdl:message>
  <wsdl:message name="listarMesasSoapOut">
    <wsdl:part name="parameters" element="tns:listarMesasResponse" />
  </wsdl:message>
  <wsdl:portType name="MesaWSSoap">
    <wsdl:operation name="listarMesas">
      <wsdl:input message="tns:listarMesasSoapIn" />
      <wsdl:output message="tns:listarMesasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MesaWSSoap" type="tns:MesaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarMesas">
      <soap:operation soapAction="http://tempuri.org/listarMesas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MesaWSSoap12" type="tns:MesaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarMesas">
      <soap12:operation soapAction="http://tempuri.org/listarMesas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesaWS">
    <wsdl:port name="MesaWSSoap" binding="tns:MesaWSSoap">
      <soap:address location="http://localhost:50319/MesaWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MesaWSSoap12" binding="tns:MesaWSSoap12">
      <soap12:address location="http://localhost:50319/MesaWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>